# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SerializationSystem.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\dev\saxion\unity\networking\Assignment4\SerializationSystem\.idea\.idea.SerializationSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
